body{
    background-image: url('images/Scoob.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bangers', cursive;
    min-height: 100%;
    min-width: 1024px;
}

h1{
    top:0;
    color: rgb(23, 158, 149);
    font-size: 3.5rem;
    -webkit-text-stroke: .25px rgb(255, 225, 75);
    position: fixed;

}

.text{
    width: 45%;
    color:  rgb(255, 215, 75);
    margin-top: 10%;
    margin-left: 10px;
    overflow: scroll;
    max-height: 80vh;
    animation: slide infinite 3s alternate;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

h2{
    color: rgb(30, 117, 112);
    -webkit-text-stroke: .05px rgba(245, 211, 41, 0.918);
}