* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  height: 300px;
  max-width: 750px;
  background-color: #ffffff;
  width: 700px;
  height: 250px;
  border-radius: 10px;
}

.wrapper img {
  height: 100%;
  width: auto;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.wrapper p {
  padding: 2rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  color: hsl(214, 17%, 51%);
}

.wrapper p strong {
  font-size: 1.1rem;
  color: hsl(217, 19%, 35%);
}

.profile {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

.profile img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.profile-info {
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

.profile-info h3 {
  color: hsl(217, 19%, 35%);
}

.profile-info h4 {
  font-size: 0.7rem;
  color: hsl(214, 17%, 51%);
}

.share img {
  width: 30px;
  height: auto;
  margin-left: 4rem;
}

.share {
  border: 1px solid transparent;
  padding: 0.5rem;
}

.share :hover {
  background-color: hsl(212, 23%, 69%);
}
